*{
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body{
    background-color: #364547;
}

.main-nav{
    background-color: #3c415c;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px;
    align-items: center;
    border-top:2px solid #1b2021;
    border-bottom:2px solid #1b2021;
    margin:2em;
}

.main-nav ul{
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    background-color: #3c415c;
    display: flex;
    /*width: 100%;*/
}

.main-nav ul li{
    display: flex;
    justify-content: space-between;
}

.main-nav ul a{
    display: flex;
    text-decoration: none;
    color: #eeebdd;
}

.main-nav ul a:hover{
    color: #000;
    /*background-color: #69c;*/
}

.main-nav ul > li{
    display: flex;
    position: relative;
}

.main-nav > ul > li ul{
    display: none;
}

.main-nav > ul li:hover > ul{
    display: block;
    position: absolute;
    top: 0;
    bottom: 100%;
}


.main-nav a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #eeebdd;
    font-weight: 800;
    white-space: nowrap;
}

.home{
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}

.genre{
    display: flex;
}

.feedback {
    display: flex;
    justify-content: flex-end;
}

.profile{
    display: flex;
    justify-content: flex-end;
}

.logout{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
